<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panda.keeplive">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name=".MyApplicaiton"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PixelActivity"
            android:theme="@style/PixelActivityStyle"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"></activity>

        <service android:name=".service.SimpleService"
            android:process=":mykeeplive"/>

        <service android:name=".service.ForegroundService"
            android:process=":foregroundservice"/>
        <service android:name=".service.HideNotificationService"
            android:process=":hidenotificationservice"/>

        <service android:name=".service.AutoHideNotificationService"
            android:process=":receiverservice"/>

        <service android:name=".KeepServiceManager$SubsidiaryService"
            android:process=":receiverservice"/>

        <service android:name=".service.ReceiverService"
            android:process=":receiverservice"/>

        <!-- JobService -->
        <service
            android:name=".service.JobSchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".service.DownloadService"
            android:process=":DownloadService"/>
    </application>

</manifest>